@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
    
.header {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

#add-book{
    cursor: pointer;
    border-radius: 50%;
    width:50px;
    height:50px;
    border: none;
    font-size: 2em;
    color: black;
    transform: rotate(45deg);
}

h1 {
    margin-left: 50px;
}

#catalog-wrapper {
    margin-top: 50px;
}

table {
    width: 85%;
    margin: 0 auto;
    box-shadow: 0 5px 10px #e2e8f0;
}

table th {
    text-align: left;
    font-weight: bolder;
    font-size: larger;
    box-shadow: 0 5px 10px #e2e8f0;
    text-transform: uppercase;
    padding: 1rem 2rem;
    letter-spacing: 0.1rem;
}

.bookRow {
    font-weight: bolder;
}

.bookRow:nth-child(even) {
    background-color: #f4f6fb;;
}

tbody td {
    margin: 1rem;
    padding: 1rem;
}

/* delete button */
tbody tr .dl-Btn {
    display:flex;
    justify-content: center;
    /* padding:20px; */
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 40px;
}

.isRead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* for modal */
#overlay {
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

#overlay.active{
    pointer-events: all;
    opacity: 1;
}

.form {
    display: Flex;
    flex-direction: column;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    height: 300px;
    padding: 20px;
    width: 250px;
    transition: 200ms ease-in;
}

.modal input, .modal label {
    padding: 5px;
    border-radius: 10px;
}

.modal input[type = "submit"] {
    /* margin-top: 5px; */
    width: 80%;
    margin: 20px auto;
}

#statusRead input {
    padding: 5px;
}

.input-header .close-btn {
    cursor: pointer;
    border: none;
    outline: none;
    align-items: right;
    position:absolute;
    top: 2px;
    right: 5px;
    font-size: 30px;
    background-color: White;
}
